/* .content-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  .title-section,
  .section-content {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    h2 {
      color: #fff;
      font-size: 2rem;
      font-weight: 300;
      text-transform: uppercase;
      display: flex;
      -webkit-box-reflect: below -20px linear-gradient(transparent, #0002);
    }
  }
  .section-content {
    width: fit-content;
    h2 {
      font-size: 1rem;
    }
  }
}

@media screen and (min-width: 700px) {
  .content-section {
    flex-direction: row;
  }
} */

.title-section {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  h2 {
    color: #fff;
    font-size: 4rem;
    font-weight: 300;
    text-transform: uppercase;
    display: flex;
    -webkit-box-reflect: below -20px linear-gradient(transparent, #0002);
  }
}
