.home-name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
  .pablo {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    .capa-p,
    .capa-ab,
    .capa-l,
    .capa-o,
    .capa-h,
    .capa-e,
    .capa-n,
    .capa-an,
    .capa-de,
    .capa-z {
      fill: none;
      stroke: #fff;
    }
    .capa-p {
      stroke-dasharray: 800;
      stroke-dashoffset: 800;
      animation: effect-letter 0.5s linear forwards;
    }
    .capa-ab {
      stroke-dasharray: 255;
      stroke-dashoffset: 255;
      animation: effect-letter 0.4s 0.5s linear forwards;
    }
    .capa-l {
      stroke-dasharray: 100;
      stroke-dashoffset: 100;
      animation: effect-letter 0.2s 0.9s linear forwards;
    }
    .capa-o {
      stroke-dasharray: 65;
      stroke-dashoffset: 65;
      animation: effect-letter 0.2s 1.15s linear forwards;
    }
    .capa-h {
      stroke-dasharray: 750;
      stroke-dashoffset: 750;
      animation: effect-letter 0.5s 1.35s linear forwards;
    }
    .capa-e {
      stroke-dasharray: 140;
      stroke-dashoffset: 140;
      animation: effect-letter 0.3s 1.85s linear forwards;
    }
    .capa-n {
      stroke-dasharray: 50;
      stroke-dashoffset: 50;
      animation: effect-letter 0.2s 2.15s linear forwards;
    }
    .capa-an {
      stroke-dasharray: 100;
      stroke-dashoffset: 100;
      animation: effect-letter 0.3s 2.35s linear forwards;
    }
    .capa-de {
      stroke-dasharray: 195;
      stroke-dashoffset: 195;
      animation: effect-letter 0.3s 2.65s linear forwards;
    }
    .capa-z {
      stroke-dasharray: 120;
      stroke-dashoffset: 120;
      animation: effect-letter 0.2s 2.95s linear forwards;
    }
  }
}
@keyframes effect-letter{
    to{
        stroke-dashoffset: 0;
    }
}
