@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,500;0,600;0,700;0,800;1,200;1,400;1,500;1,600;1,700;1,800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #ffffff;
  background: #01164d;
  font-family: "Poppins", sans-serif;
}

.body-content {
  position: relative;
}

.background-wrapper {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  border-radius: inherit;
  z-index: -99;
}

.background-wrapper-video {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0;
}

.bg-video {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0;
  object-fit: cover;
}

.loader-background {
  background: #04183a;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  clip-path: circle(150% at 100% 100%);
  transition: clip-path 1s ease-in-out;
}

.loader-hide {
  clip-path: circle(0% at 100% 100%);
}

.pablo-loader-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
}

.pablo-loader {
  width: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.capa-p-loader {
  fill: none;
  stroke: #fff;
  stroke-dasharray: 800;
  stroke-dashoffset: 800;
  animation: effect-letter-loader 2s 0.5s infinite;
}

@keyframes effect-letter-loader {
  0% {
    stroke-dashoffset: 800;
  }
  50% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: 800;
  }
}
.welcome-content {
  width: 100%;
  height: 100vh;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}
.welcome-content .welcome-letter {
  font-size: 4rem;
}

:root {
  --delayAnimation: 7s;
}

.home-name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
}
.home-name .pablo {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.home-name .pablo .capa-p,
.home-name .pablo .capa-ab,
.home-name .pablo .capa-l,
.home-name .pablo .capa-o,
.home-name .pablo .capa-h,
.home-name .pablo .capa-e,
.home-name .pablo .capa-n,
.home-name .pablo .capa-an,
.home-name .pablo .capa-de,
.home-name .pablo .capa-z {
  fill: none;
  stroke: #fff;
}
.home-name .pablo .capa-p {
  stroke-dasharray: 800;
  stroke-dashoffset: 800;
  animation: effect-letter 0.5s var(--delayAnimation) linear forwards;
}
.home-name .pablo .capa-ab {
  stroke-dasharray: 255;
  stroke-dashoffset: 255;
  animation: effect-letter 0.4s 7.5s linear forwards;
}
.home-name .pablo .capa-l {
  stroke-dasharray: 100;
  stroke-dashoffset: 100;
  animation: effect-letter 0.2s 7.9s linear forwards;
}
.home-name .pablo .capa-o {
  stroke-dasharray: 65;
  stroke-dashoffset: 65;
  animation: effect-letter 0.2s 8.15s linear forwards;
}
.home-name .pablo .capa-h {
  stroke-dasharray: 750;
  stroke-dashoffset: 750;
  animation: effect-letter 0.5s 8.35s linear forwards;
}
.home-name .pablo .capa-e {
  stroke-dasharray: 140;
  stroke-dashoffset: 140;
  animation: effect-letter 0.3s 8.85s linear forwards;
}
.home-name .pablo .capa-n {
  stroke-dasharray: 50;
  stroke-dashoffset: 50;
  animation: effect-letter 0.2s 9.15s linear forwards;
}
.home-name .pablo .capa-an {
  stroke-dasharray: 100;
  stroke-dashoffset: 100;
  animation: effect-letter 0.3s 9.35s linear forwards;
}
.home-name .pablo .capa-de {
  stroke-dasharray: 195;
  stroke-dashoffset: 195;
  animation: effect-letter 0.3s 9.65s linear forwards;
}
.home-name .pablo .capa-z {
  stroke-dasharray: 120;
  stroke-dashoffset: 120;
  animation: effect-letter 0.2s 9.95s linear forwards;
}
.home-name .subtitle {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 80px;
}

@keyframes effect-letter {
  to {
    stroke-dashoffset: 0;
  }
}
/* .content-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  .title-section,
  .section-content {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    h2 {
      color: #fff;
      font-size: 2rem;
      font-weight: 300;
      text-transform: uppercase;
      display: flex;
      -webkit-box-reflect: below -20px linear-gradient(transparent, #0002);
    }
  }
  .section-content {
    width: fit-content;
    h2 {
      font-size: 1rem;
    }
  }
}

@media screen and (min-width: 700px) {
  .content-section {
    flex-direction: row;
  }
} */
.title-section {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
.title-section h2 {
  color: #fff;
  font-size: 4rem;
  font-weight: 300;
  text-transform: uppercase;
  display: flex;
  -webkit-box-reflect: below -20px linear-gradient(transparent, rgba(0, 0, 0, 0.1333333333));
}

:root {
  --headlineBig: clamp(3rem, 10vw, 15rem);
  --headlineSmall: clamp(1rem, 1.2vw, 6rem);
}

.reveal {
  padding-left: 10%;
  padding-right: 10%;
}

.reveal-text {
  width: fit-content;
  font-weight: 800;
  font-size: var(--headlineBig);
  line-height: var(--headlineBig);
  color: transparent;
  filter: drop-shadow(0 0 0.06rem rgb(2, 2, 2));
}

.spacing-small {
  height: 50vh;
}

.spacing {
  height: 100vh;
}
